<div class="">
    <h3>Categorias</h3>
    <nav>
        <ul>
            <li class="<%- !query.category && 'active' %>">
                <a href="<%- current_url %>">
                    <span class="dot"></span>
                    <p>Todos</p>
                </a>
            </li>
            <% categories.forEach((category) => { %>
                <li class="<%- query.category == category.nome && 'active' %>">
                    <a href="<%- `${current_url}?category=${category.nome}` %>">
                        <span class="dot" style="background-color: <%- category.color %>"></span>
                        <p><%- category.nome %></p>
                    </a>
                    <a href="/new-category">
                        <img class="pencil" style="display: none" src="/images/pencil.svg" alt="" title="Editar">
                    </a>
                </li>
            <% }) %>
             <% if (!locals.chart_page) { %>
                <li>
                    <a href="/new-category"><img src="/images/vector.svg" alt="">
                        <p style="color: blue;">Adicionar</p>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>
