<aside>
    <div class="submenu-container">
        <div class="submenu-list">
            <% if (chart_page) { %>
                <%- include('submenu_contas') %>
                <%- include('submenu_credit_cards') %>
            <% } else { %>
                <% if (account_page) { %>
                    <%- include('submenu_contas') %>
                <% } else { %>
                    <%- include('submenu_credit_cards') %>
                <% } %>

                <%- include('submenu_categorias') %>
            <% } %>
        </div>
    </div>
</aside>
