<%
  const categories_by_name = {}

  categories.forEach((category) => {
    categories_by_name[category.nome] = category.color;
  });
%>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/overview.css">
</head>

<body>
    <div class="root">
        <%- include('../partials/logo') %>
        <%- include('../partials/menu') %>
        <%- include('../partials/user') %>
        <%- include('../partials/submenu') %>

        <main>
            <div class="content">
                <div class="transaction-container">
                    <div class="row">
                        <h2>Transações</h2>
                        <div class="options">
                            <img src="/images/date_range.svg" width="14px" height="14px">
                            <a href="/new-transaction-creditcard"><img src="/images/add_btn.svg" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <form>
                            <div class="input input-text">
                                <div class="input-wrapper">
                                    <input type="text" id="category" placeholder="Pesquisar" />
                                    <div class="icon icon-search"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row list-cards">
                        <div class="item">
                            <h4>Gastos</h4>
                            <p><%- dados.gastos.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></p>
                        </div>
                        <div class="item">
                            <h4>Pagamentos</h4>
                            <p><%- dados.pagamentos.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></p>
                        </div>
                        <div class="item">
                            <h4>Fatura</h4>
                            <p><%- dados.fatura.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></p>
                        </div>
                    </div>
                    <div class="list">
                        <ul>
                            <% dados.transacoes.forEach((item) => { %>
                                <li>
                                    <div class="icon-container"><img src="<%- item.imageUrl %>"></div>
                                    <div class="transaction-info">
                                        <div class="company"><%- item.nome %></div>
                                        <div class="datetime"><%- item.data %></div>
                                    </div>
                                    <div class="chip-list">
                                        <% item.tags.forEach((tag) => { %>
                                            <div class="chip" style="background-color: <%- categories_by_name[tag] %>">
                                                <p><%- tag %></p>
                                            </div>
                                        <% }) %>
                                    </div>
                                    <div class="transaction-cost <%- item.valor < 0 ? 'negative' : 'positive' %>">
                                      <%- item.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %>
                                    </div>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
            <aside>
                <div class="overtranlat">
                    <div class="titulo"> Overview mensal </div>
                    <div class="grafc">
                        <div class="painel">
                            <div class="disp"> DESPESAS </div>
                            <div class="barra">
                                <div class="perc-75 despinat"></div>
                                <div class="perc-50 despinat"></div>
                                <div class="perc-100 despinat"></div>
                                <div class="perc-25 despinat"></div>
                                <div class="perc-50 despinat"></div>
                                <div class="perc-25 despinat"></div>
                                <div class="perc-75 dispect"></div>
                            </div>
                            <div class="valor"> R$ 1790,33 </div>
                            <div class="valor2"> + R$ 49,50 </div>
                        </div>
                        <div class="painel">
                            <div class="disp"> RECEITAS </div>
                            <div class="barra">
                                <div class="perc-75 recinat"></div>
                                <div class="perc-50 recinat"></div>
                                <div class="perc-100 recinat"></div>
                                <div class="perc-25 recinat"></div>
                                <div class="perc-50 recinat"></div>
                                <div class="perc-25 recinat"></div>
                                <div class="perc-75 receit"></div>
                            </div>
                            <div>
                                <div class="valor"> R$ 1449,17 </div>
                                <div class="valor2 receitcolor"> + R$ 242,60 </div>
                            </div>
                        </div>
                    </div>
                    <div class="despcateg">
                        <div class="titulo2"> Despesas por Categoria </div>
                        <div class="grafc2">
                            <div class="painel2 painellaranja">
                                <div class="circle-container alimentacao"></div>
                                <div class="caixa">
                                    <div class="formatdesp">Alimentação</div>
                                    <div class="valor3">670,00</div>
                                </div>
                                <div class="porcentagem">47%</div>
                            </div>
                            <div class="painel2 painelverde">
                                <div class="circle-container salario"></div>
                                <div class="caixa">
                                    <div class="formatdesp">Pagamentos</div>
                                    <div class="valor3">4700,00</div>
                                </div>
                                <div class="porcentagem1">47%</div>
                            </div>
                            <div class="painel2 painelazul">
                                <div class="circle-container assinaturas"></div>
                                <div class="caixa">
                                    <div class="formatdesp">Assinaturas</div>
                                    <div class="valor3">130,00</div>
                                </div>
                                <div class="porcentagem2">47%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </main>
    </div>
</body>

</html>
